<button [disabled]="!filesSelected" (click)="generateQuestions()" id="generateExam" class="btn btn-success w-100 mt-4">Generate Exam</button>

 <div *ngFor="let question of questions" class="question-card">
      <strong>{{ question.question }}</strong>
      <ul>
        <li *ngFor="let answer of question.answers">
          <input type="radio" [checked]="answer.is_correct">{{ answer.text }}
        </li>
      </ul>
      <button class="btn btn-sm btn-outline-secondary">Editar</button>
      <button class="btn btn-sm btn-outline-primary">Regenerar con IA</button>
</div>