<p-scrollpanel>
    <p-card [header]="question.question" [style]="{ 'margin': '1rem 2rem ', }" *ngFor="let question of questions">
    <ul>
      <li *ngFor="let answer of question.answers">
        <p-radiobutton
        name="question-{{ question.question }}"
        [value]="true" 
        [(ngModel)]="answer.is_correct"
        inputId="answer-{{ answer.text }}"
      ></p-radiobutton>
      <label for="answer-{{ answer.text }}" class="ml-2">{{ answer.text }}</label>
      </li>
    </ul>
  </p-card>
    <p-button label="Export Exam" icon="pi pi-arrow-right" iconPos="right" (click)="exportExam()">
    </p-button>
</p-scrollpanel>

<p-dialog [draggable]="false" [modal]="true" [(visible)]="dialogFormVisible"
  >
    <app-export-exam-dialog [formsUrl]="formsUrl"></app-export-exam-dialog>
</p-dialog>

<p-dialog 
  [draggable]="false" 
  [modal]="true" 
  [(visible)]="dialogVisible" 
  [style]="{ width: '20vw' }"
  closeOnEscape="false" 
  closable="false">
  <div class="flex justify-center">
    <p-progress-spinner ariaLabel="loading" />
  </div>
</p-dialog>