<section class="upload-zone">
  <header>
    <h2 class="mb-4 text-center">Exam Generator - Advanced Configuration</h2>
  </header>

  <!-- Upload Zone -->
  <div class="drop-zone mb-3">
    <p>Drag and drop files, images, or videos here,<br>or click to select</p>
    <input required type="file" class="form-control mt-3" (change)="onFilesSelected($event)" multiple>
  </div>

  <!-- URL Inputs -->
  <form class="row mb-3">
    <div class="col-md-6">
      <label for="pageUrl" class="form-label">Page URL</label>
      <input id="pageUrl" type="url" class="form-control" placeholder="Enter page URL">
    </div>
    <div class="col-md-6">
      <label for="videoUrl" class="form-label">Video URL</label>
      <input id="videoUrl" type="url" class="form-control" placeholder="Enter video URL">
    </div>
  </form>

  <!-- Load Button -->
  <div class="mb-4 text-center">
    <button [disabled]="files.length == 0" type="button" class="btn btn-primary" (click)="loadContent()">Load Content</button>
  </div>
</section>